:root {
    --mainpadding:5px 5px;
    --myborder:5px solid  black;
    --m-s-h1-padding:8px 8px;
    --cmpadding: 10px 10px;
    --m-s-h1-border: 10px dotted black;
    --h-n-dropdown:box-shadow: 0px 8px 16px gray;
    --h-n-dropdownpadding: 20px 20px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    display: flex;
    align-self: flex-start;
    padding: 14px 14px;
    color: white;
    border: solid;
}

header nav {
    display: inherit;
    justify-content: space-evenly;
}


header nav a {
    margin-left: 5px;
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border:solid;

}


figure {
    display: flex;
    height: 304px;
    width: 100%;
    margin: inherit;
    background: url("../images/stripes.jpg");
    align-items: flex-end;
    justify-content: flex-end;
    
}

main {
    display: flex;
    flex-direction: column;
}

main section p {
    padding:var(--mainpadding);
    text-align: justify;
    margin: 10px;
}

main section {
    display: inherit;
    margin: 0;
    align-items: center;
}

main section h1 {
    padding:var(--m-s-h1-padding);
    border:var(--m-s-h1-border);
    font-size: 2rem;
}

#ContactMe a {
    text-decoration: none;
    margin:var(--cmpadding);
    padding: var(--cmpadding);
    border: var(--myborder);
}

@media only screen and (max-width: 768px) {
    header, header h1, nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    header nav a {
        margin-left: 0px;
        border: 0px;
    }
    

    main section, #ContactMe a {
        flex-wrap: wrap;
        justify-content: center;
    }
}