:root {
    --mainpadding:0.313rem 0.313rem;
    --myborder:0.313rem solid  black;
    --m-s-h1-padding:0.5rem 0.5rem;
    --cmpadding: 0.625rem 0.625rem;
    --m-s-h1-border: 0.625rem dotted black;
    --h-n-dropdownpadding: 1.25rem 1.25rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    display: flex;
    align-self: flex-start;
    padding: 0.875rem 0.875rem;
    color: white;
    border: solid;
}

header nav {
    display: inherit;
    justify-content: space-evenly;
}


header nav a {
    margin-left: 0.313rem;
    padding: 0.625rem 0.625rem;
    color: white;
    text-align: center;
    text-decoration: none;
    border:solid;

}


figure {
    display: flex;
    height: 19rem;
    width: 100%;
    margin: inherit;
    background: url("../images/stripes.jpg");
    align-items: flex-end;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 227, 227);
}

main section p {
    padding:var(--mainpadding);
    text-align: justify;
    margin: 0.625rem;
    text-indent: 3.125rem;
}
/* Selects everything except the h1 element where the parent is a Work I.D. */

main section {
    display: inherit;
    margin: 0;
    align-items: center;
}

#Work {
    margin-right: 0.625rem;
    justify-content: space-between;
    align-items: center;
}

#Work :not(h1):hover {
    content: url("../images/placeholder_a1.jpg");
}

main section h1 {
    padding:var(--m-s-h1-padding);
    border:var(--m-s-h1-border);
    font-size: 2rem;
    margin: 1.25rem;
}

#ContactMe a {
    text-decoration: none;
    margin:var(--cmpadding);
    padding: var(--cmpadding);
    border: var(--myborder);
}

@media only screen and (max-width: 768px) {
    header, header h1, nav {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    header nav a {
        margin-left: 0px;
        border: 0px;
    }
    
    main section, #ContactMe a {
        flex-direction: column;
    }
}