

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header h1 {
    display: flex;
    align-self: flex-start;
    padding: 14px 14px;
    color: white;
    border: solid;
}

header nav {
    display: inherit;
}

header nav a {
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-bottom:solid;
}

figure {
    display: flex;
    height: 304px;
    width: 100%;
    margin: inherit;
    background: url("../images/stripes.jpg");
    align-items: flex-end;
    justify-content: flex-end;
    
}

h2 {
    display: inherit;
    margin: inherit;
    border: 10px solid black;
    background-color: gray;
    padding: 20px 20px;
    color: rgb(255, 255, 255);

}



main {
    display:flex;

}

@media only screen and (max-width: 768px) {
    header, h1, nav{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        
    }


}